.body {
  background-color: #E5E5E5;
  color:#757575 ;
}
.list {
  list-style: none;
}
/* Цвет основного текста #212121*/
/* Вторичный цвкт текста #757575*/
/* Активная ссылка #2196F3*/
/* top line bg #FFFFFF*/
/* Section bg #F5F4FA*/
/* Footer bg #2F303A*/
/* г. Киев, пр-т Леси Украинки, 26 #FFFFFF*/

/* Navigation  */
.logo {
color:#2196F3 ;
}
.logo:hover, .logo:focus {
  color: #212121;
}
/* Site-nav */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196F3;
}
/* Contacts selection */
.contacts-reference .item {
  color: #757575;
}
.contacts-reference .item:hover,
.contacts-reference .item:focus{
  color: #2196F3;
}
/* Services */
.services {
  color:#FFFFFF;
  background-color: #2F303A;
}

/* Section*/
.section .section-title
 {
  color: #212121;
}



